<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL-SHORTENER</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <br>
                <h1><u><i>URL Shortener</i></u></h1>
            </div>
        </div>
        <br>
        <form action="/create" method="POST">
        <div class="row">
            <div class="input-group mb-3">
                <input type="text" name="longurl" class="form-control" placeholder="Paste Your Long-URL" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <br>
                <br>
                <br>

                <!--new-->
                <div class="input-group mb-3">
                    <input type="text" name="reference" class="form-control" placeholder="Reference-name(ex:instagram)" aria-label="Username" aria-describedby="basic-addon1">
                  </div>


                <!--new end-->
                
                <div class="input-group-append">
            <input type="submit" class="btn btn-outline-secondary" value="submit">
                  
                </div>
              </div>
        </div>
        </form>
        <div class="row">
            <% for(let i =0;i < urlresult.length;i++) { %>
          
            <div class="col-lg-3">
                <div class="card border-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Total Click : <%= urlresult[i].clickcount %></div>
                    <!--newone-->
                    <div class="card-body text-danger">
                        <h6 class="card-title">Referenve : <%= urlresult[i].reference %></h6>
                    </div>    
                    <!--end newone-->
                    <div class="card-body text-secondary">
                      <h6 class="card-title">
                          <a href="http://localhost:3000/<%= urlresult[i].shorturl %>" target="_blank">http://localhost:3000/<%= urlresult[i].shorturl %></a>
                      </h6>
                      <p class="card-text"><%= urlresult[i].longurl %></p>
                      <a href="/delete/<%= urlresult[i].id %>" class="btn btn-sm btn-danger">Remove</a>
                      
                    </div>
                  </div>
            </div>
            <% } %>
        </div>
    </div>
    
</body>
</html>